In [80]:
import pandas as pd
import numpy as np
import tensorflow.keras.models.Sequential

ModuleNotFoundError: No module named 'distutils'

In [24]:
df = pd.read_csv("/Users/user/OneDrive/Desktop/Datasets/password_strength.csv", on_bad_lines="skip")
df.head()

      password  strength
0     kzde5577         1
1     kino3434         1
2    visi7k1yr         1
3     megzy123         1
4  lamborghin1         1

In [5]:
print(len(df))
print(df.info())

669640
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 669640 entries, 0 to 669639
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   password  669639 non-null  object
 1   strength  669640 non-null  int64
dtypes: int64(1), object(1)
memory usage: 10.2+ MB
None

In [12]:
df["strength"].value_counts()

strength
1    496801
0     89702
2     83137
Name: count, dtype: int64

0 : Weak
1 : Medium
2 : Strong

For Training

In [25]:
df2 = df.head(50)

Function for getting length of all password

In [40]:
lengths = []
bad_lines = []
for n,i in enumerate(df["password"]):#Using enumerate for getting the nan value column index
    try:#Using try expect because there is an issue, there is a NaN, which can recognize as a string or object.
        len_a = len(i)
    except:#Code for getting the NaN and its index
        bad_lines.append(i)
        bad_lines.append(n)
    lengths.append(len_a)

In [41]:
print(bad_lines)

[nan, 367579]

In [ ]:
df.drop(367579) #Dropping the NaN value column

In [45]:
df.iloc[367579] #Confirming the column

password    NaN
strength      0
Name: 367579, dtype: object

In [46]:
df.insert(loc=1, column="Length", value=lengths) #loc=1 means the index which the new column should be added.
df.head()

      password  Length  strength
0     kzde5577       8         1
1     kino3434       8         1
2    visi7k1yr       9         1
3     megzy123       8         1
4  lamborghin1      11         1

In [47]:
df.tail()

            password  Length  strength
669635    10redtux10      10         1
669636     infrared1       9         1
669637  184520socram      12         1
669638     marken22a       9         1
669639      fxx4pw4g       8         1

In [ ]:
def check_type(v):

In [60]:
char_val = []
digit_val = []
sym_val = []
bad_lines2 = []

for v in df["password"]:
    char, dig, sym = 0, 0, 0
    try: #Adding the block due to some error
        for w in v: #For every value in each password
            if w.isalpha():#Checking is it an alphabet
                char += 1
            elif w.isdigit():#is a digit
                dig += 1
            else: 
                sym += 1
    except:
        bad_lines2.append(w)
    char_val.append(char)
    digit_val.append(dig)
    sym_val.append(sym)

In [61]:
bad_lines2

['1']

In [64]:
df.loc[df["password"] == "1"]

       password  Length  strength
533794        1       1         0

In [ ]:
df.drop(533794)

In [66]:
df.insert(loc=2, column="Characters", value=char_val)
df.insert(loc=3, column="Digits", value=digit_val)
df.insert(loc=4, column="Symbols", value=sym_val)
df.head()

      password  Length  Characters  Digits  Symbols  strength
0     kzde5577       8           4       4        0         1
1     kino3434       8           4       4        0         1
2    visi7k1yr       9           7       2        0         1
3     megzy123       8           5       3        0         1
4  lamborghin1      11          10       1        0         1

Remove the password column, we have the details from it.

In [73]:
pass_csv = df.drop(columns="password", axis=1)
pass_csv.head()

   Length  Characters  Digits  Symbols  strength
0       8           4       4        0         1
1       8           4       4        0         1
2       9           7       2        0         1
3       8           5       3        0         1
4      11          10       1        0         1

In [ ]:
Lets save the csv file we have done feature engineering.

In [82]:
pass_csv.to_csv("/Users/user/OneDrive/Desktop/VSCode Python/Password Strength Predictor/pass_new.csv")